body{
    font-family: 'Maven Pro', sans-serif;
}

main{
    min-height: 58vh;
}

.bgColorPrim{
    background-color: #2e5077;
}

.bgColorSec{
    background-color: #611c35;
}

.text-color{
    color: #d7e8ba; 
}

.nav> .nav-item> .nav-link{
    color: #d7e8ba;
}

/*-----------------------Mobile Version----------------------------------------*/
.onlyIpadComputer{
    display: none;
}

header h1{
    font-size: 1em;
}


/*-----------------------Ipad Version------------------------------------------*/
 @media screen and (min-width: 576px){

    .onlyIpadComputer{
        display: block;
    }
    
    header h1{
        font-size: 1.5em;
    }
 }

/*-----------------------Computer Version------------------------------------------*/
 @media screen and (min-width: 992px){

    header h1{
        font-size: 2em;
    }
}
