{% extends 'base.html.twig' %}

{% block title %}Nouvelle tâche{% endblock %}

{% block body %}
<main>
    <section class="container my-5">
        <h2 class="my-4">Nouvelle tâche : </h2>

        {{ include('task/_form.html.twig') }}
    </section>
</main>
   

    
{% endblock %}
