<header class="bgColorPrim">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 col-lg-2">
                <img class ="logo" src="{{ asset('img/logo200x200.png') }}" alt="Logo"></a>
            </div>
            <div class="col-7 col-lg-10 my-4">
                <h1 class="my-5 text-color ">Mon appli de gestion de projet </h1>
            </div>
        </div>
    </div>
</header>