<header class="bgColorPrim">
    <!-- <img class="onlyMobile" src="logo96x96.png" alt="logo de la banque"> -->
    <img class ="logo" src="{{ asset('img/logo200x200.png') }}" alt="Logo"></a>
    <h1>Mon appli gestion projet </h1>
</header>