<header class="bgColorPrim">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-5 text-center col-lg-2">
                <img class ="logo" src="{{ asset('img/logo200x200.png') }}" alt="Logo"></a>
            </div>
            <div class="col-sm-5 col-lg-8 text-center my-4 onlyIpadComputer">
                <h1 class="my-5 text-color ">Mon appli de gestion de projet </h1>
            </div>
        </div>
    </div>
</header>