<section class="container">
  <div class="row">
    <div class="hidden col-12" id="needHelp">
      <div class="card size scroll text-center">
        <div class="card-header erreur py-4 text-color bgColorPrim">
          <h4>Obtenir de l'aide</h4>
        </div>
        <div class="card-body py-4 mx-5">
          <h5 class="card-title text-dark mb-4">Questions fréquentes : </h5>
          <hr class="text-dark my-2">
          <div id = "questionsContainer">
            <!-- container to display questions / answers -->
          </div>
        </div>
        <div class="card-footer py-4 text-muted">
            <button id="hiddenLayer" class="btn bgColorPrim text-color"><i class="fas fa-times"></i> Fermer</button>
        </div>
      </div>
    </div>
  </div>
</section>

    

    

