<section class="container">
  <div class="row">
    <div class="hidden col-12" id="needHelp">
      <div class="card size scroll text-center">
        <div class="card-header py-4 text-color bgColorPrim">
          <h4>Obtenir de l'aide</h4>
        </div>
        <div class="card-body py-4 mx-5">
          <h5 class="card-title text-dark mb-4">Questions fréquentes : </h5>
          <hr class="text-dark my-2">
          <div class="card my-4">
            <div class="card-header text-colorPrim">
              This is some text within a card body? 
            </div>
            <div class="card-body text-dark">
              Perviis ac futuris nequo agitare exarsit remoti industria quaedam remoti ac exarsit Constantius agentes futuris.
            </div>
          </div>
          <div class="card my-4">
            <div class="card-header text-colorPrim">
              Cuius rectores est adventum vesania enim? 
            </div>
            <div class="card-body text-dark">
              Turres adventum adventum et cuius rectores est adventum vesania enim sollemni agiliter speculationibus data in.
            </div>
          </div>
          <div class="card my-4">
            <div class="card-header text-colorPrim">
              E imperasset interitu trabeae quadriennio quoque et vicensimo vicensimo vita quos Tuscos matreque Galla quoque?
            </div>
            <div class="card-body text-dark">
              Si statuerimus res vitii vidimus de aut amicis proxime novit quibus ante et velimus qui.
            </div>
          </div>
        </div>
        <div class="card-footer py-4 text-muted">
            <button id="hiddenLayer" class="btn bgColorPrim text-color"><i class="fas fa-times"></i> Fermer</button>
        </div>
      </div>
    </div>
  </div>
</section>

    

    

